#left{
	width: 400px;
	height: 880px;
	border-radius: 15px;
}
#left:hover{
	background-color: #00000080;
}
.left-inner{
	width: 400px;
	height: 220px;
}
.left-img{
	width: 120px;
	height: 120px;
	margin-top: 45px;
	margin-left: 40px;
	border-radius: 15px;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
}
#left-img-1{background-image: url("img/fish.png");}
#left-img-2{background-image: url("img/apple.png");}
#left-img-3{background-image: url("img/lava.png");}
#left-img-4{background-image: url("img/note.png");}
.left-h1{
	width: 180px;
	height: 60px;
	margin-top: 30px;
	margin-left: 25px;
	color: #ffffff;
	line-height: 60px;
	text-align: left;
	text-shadow: -8px 6px 6px #000000, -3px 3px 4px #000000;
	font-size: 35px;
	font-family: "黑体";
	font-weight: bold;
	float: left;
}
.left-h2{
	width: 180px;
	height: 60px;
	margin-top: 10px;
	margin-left: 25px;
	color: #ffffff;
	line-height: 30px;
	text-align: left;
	text-shadow: -8px 6px 6px #000000, -2px 2px 4px #000000;
	font-size: 18px;
	font-family: "黑体";
	font-weight: 600;
	float: left;
}
#left-img-1{
	box-shadow: -12px 10px 6px #000000, -6px 5px 6px #000000;
}