/*
https://github.com/Luminescence-Dev/main-website/blob/main/res/css/main.css MIT
*/
body
{
    background-color: #f5f5f5;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a
{
    color:#2498db
}
h1
{
    background-image: linear-gradient(to right,#ff0000,#ff9900,#e8c414,#76e62c,#00b7ff,#8e44ad);
    background-clip: text;
    color: transparent;
}
rainbow
{
    background-image: linear-gradient(to right,#ff0000,#ff9900,#e8c414,#76e62c,#00b7ff,#8e44ad);
    background-clip: text;
    color: transparent;
}
hr
{
    background-image: linear-gradient(to right, #ff0000, #ff9900, #e8c414, #76e62c, #00b7ff, #8e44ad);
    height: 3px;
    width: 100%;
    margin: 20px 0;
}
red
{
    color:#e74c3c;
}
green
{
    color:#52c41a;
}
gold
{
    color:#ffc116;
}
blue
{
    color:#2498db;
}
footer
{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #bfbfbf;
    color: #fff;
}
div
{
    padding: 7px 7px 7px 7px;
    border: 3px solid;
    border-image: linear-gradient(to right, #ff0000, #ff9900, #e8c414, #76e62c, #00b7ff, #8e44ad) 1;
}




button {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 15px 50px; /* 调整按钮的内边距来改变大小 */
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

button span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

button:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

button:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

button:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}